html{
    margin: 0;
    padding: 0;
}

.wall{
    height: 40px;
    width: 40px;
    background-color: blue;
    display: inline-block;
}

.blank{
    height: 40px;
    width: 40px;
    background-color: black;
    display: inline-block;

}

.blank2{
    height: 40px;
    width: 40px;
    background-color: black;
    display: inline-block;
}



.dot{
    height: 40px;
    width: 40px;
    background-color: black;
    background-image: url(dot.png);
    background-size: cover;
    display: inline-block;
}


.fruit{
    height: 40px;
    width: 40px;
    background-color: black;
    background-image: url(cherry.png);
    background-size: cover;
    display: inline-block;
}

.ghost{
    height: 40px;
    width: 40px;
    background-color: black;
    display: inline-block;
    background-size: cover;
    background-image: url(ghost.gif);
}

.row{
    line-height: 0;
}

#pacman{
    background-color: black;
    background-image: url(pacman.gif);
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: cover;
    position: absolute;
    /* left: 40px;
    right: 40px;   */
}
/* 
#ms_pacman{
    background-color: black;
    background-image: url(mspacman.gif);
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: contain;
    position: absolute;
    /* left: 40px;
    right: 40px;  
} */